In [1]:
#import packages that needed

import pandas as pd
import numpy as np
from math import sqrt
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_style('whitegrid')
% matplotlib inline

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
#import the dataset used in this project

anime = pd.read_csv('/content/drive/My Drive/My Mini Projects/Recommender System/anime.csv')
rate = pd.read_csv('/content/drive/My Drive/My Mini Projects/Recommender System/rating.csv', sep = ';', error_bad_lines = False, encoding = 'latin-1')

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:2882: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version.


  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
print(anime.shape)
print(rate.shape)

(12294, 7)
(1048575, 3)

# **Exploring Anime Dataset**

In [5]:
anime.head()

,anime_id,name,genre,type,episodes,rating,members
0,32281,Kimi no Na wa.,"Drama, Romance, School, Supernatural",Movie,1,9.37,200630
1,5114,Fullmetal Alchemist: Brotherhood,"Action, Adventure, Drama, Fantasy, Magic, Mili...",TV,64,9.26,793665
2,28977,Gintama°,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.25,114262
3,9253,Steins;Gate,"Sci-Fi, Thriller",TV,24,9.17,673572
4,9969,Gintama&#039;,"Action, Comedy, Historical, Parody, Samurai, S...",TV,51,9.16,151266

In [6]:
# some attributes dont seem to be required for this analysis, so can be dropped off

anime.drop(['type', 'episodes', 'rating', 'members'], axis = 1, inplace = True)

In [7]:
anime.dtypes

anime_id     int64
name        object
genre       object
dtype: object

In [8]:
#Every genre is separated by a ',' so we simply have to call the split function on ','

anime['genre'] = anime.genre.str.split(',')
anime.head()

,anime_id,name,genre
0,32281,Kimi no Na wa.,"[Drama, Romance, School, Supernatural]"
1,5114,Fullmetal Alchemist: Brotherhood,"[Action, Adventure, Drama, Fantasy, Magic,..."
2,28977,Gintama°,"[Action, Comedy, Historical, Parody, Samur..."
3,9253,Steins;Gate,"[Sci-Fi, Thriller]"
4,9969,Gintama&#039;,"[Action, Comedy, Historical, Parody, Samur..."

In [9]:
print(type(anime.genre))
anime.genre.isnull().sum()

<class 'pandas.core.series.Series'>

62

In [10]:
#drop null rows because the data is still enough

anime = anime.dropna(axis=0)

In [11]:
#use one-hot-encoding to store every different genre in columns that contain either 1 or 0
#1 shows that the movie has that genre, 0 otherwise

#copying original dataset to new dataset
animeWithGenres = anime.copy()

#For every row in the dataframe, iterate through the list of genres and place a 1 into the corresponding column
for index,row in anime.iterrows():
  for genre in row['genre']:
    animeWithGenres.at[index,genre] = 1
  
#Filling in the NaN values with 0 to show that a movie doesn't have that column's genre
animeWithGenres = animeWithGenres.fillna(0)

animeWithGenres.head()

,anime_id,name,genre,Drama,Romance,School,Supernatural,Action,Adventure,Drama,...,Supernatural,Samurai,Super Power,Vampire,Space,Hentai,Yaoi,Hentai,Yuri,Yaoi
0,32281,Kimi no Na wa.,"[Drama, Romance, School, Supernatural]",1.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,5114,Fullmetal Alchemist: Brotherhood,"[Action, Adventure, Drama, Fantasy, Magic,...",0.0,0.0,0.0,0.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,28977,Gintama°,"[Action, Comedy, Historical, Parody, Samur...",0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,9253,Steins;Gate,"[Sci-Fi, Thriller]",0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,9969,Gintama&#039;,"[Action, Comedy, Historical, Parody, Samur...",0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# **Exploring Rate Dataset**

In [12]:
rate.head()

   user_id  anime_id  rating
0        1        20      -1
1        1        24      -1
2        1        79      -1
3        1       226      -1
4        1       241      -1

# **Collaborative Filtering Based Recommender System**

In [28]:
#user input about anime that he has watched and how he rates the anime

userInput = [
            {'name':'Fullmetal Alchemist: Brotherhood', 'rating':5},
            {'name':'Gintama', 'rating':3.5},
            {'name':'Koe no Katachi', 'rating':2},
            {'name':'Bakemonogatari', 'rating':5},
            {'name':'Nodame Cantabile Finale', 'rating':4.5}
         ] 
inputAnime = pd.DataFrame(userInput)
inputAnime = inputAnime.join(anime['anime_id'])
inputAnime

                               name  rating  anime_id
0  Fullmetal Alchemist: Brotherhood     5.0     32281
1                           Gintama     3.5      5114
2                    Koe no Katachi     2.0     28977
3                    Bakemonogatari     5.0      9253
4           Nodame Cantabile Finale     4.5      9969

In [29]:
#Filtering out users that have watched anime that the input has watched and storing it
userSubset = rate[rate['anime_id'].isin(inputAnime['anime_id'].tolist())]
userSubset.head(10)

      user_id  anime_id  rating
183         3      5114      10
516         5      9253       9
525         5      9969       9
1165       10      5114      10
1166       10      9253      -1
1250       11      5114       8
1259       11      9253       7
1295       12      5114       9
1301       12      9253      10
1400       13      9253      -1

In [30]:
#Groupby creates several sub dataframes where they all have the same value in the column specified as the parameter
userSubsetGroup = userSubset.groupby(['user_id'])

In [31]:
userSubsetGroup.get_group(46)

      user_id  anime_id  rating
4466       46      5114       9
4511       46      9253       9
4521       46      9969      10
4680       46     28977      10

In [32]:
#Sorting it so users with movie most in common with the input will have priority
userSubsetGroup = sorted(userSubsetGroup,  key=lambda x: len(x[1]), reverse=True)

In [33]:
userSubsetGroup[0:3]

[(1309,         user_id  anime_id  rating
  129155     1309      5114       8
  129181     1309      9253       8
  129183     1309      9969       9
  129332     1309     28977      10
  129367     1309     32281       9), (1522,         user_id  anime_id  rating
  151408     1522      5114       9
  151480     1522      9253       9
  151504     1522      9969       9
  151854     1522     28977       9
  151904     1522     32281       8), (2428,         user_id  anime_id  rating
  235810     2428      5114      10
  235820     2428      9253      10
  235824     2428      9969       8
  235886     2428     28977       8
  235894     2428     32281      10)]

# **Similarity of users to input user**

In [34]:
userSubsetGroup = userSubsetGroup[0:1000]

In [35]:
#Store the Pearson Correlation in a dictionary, where the key is the user Id and the value is the coefficient
pearsonCorrelationDict = {}

#For every user group in our subset
for name, group in userSubsetGroup:
    #Let's start by sorting the input and current user group so the values aren't mixed up later on
    group = group.sort_values(by='anime_id')
    inputAnime = inputAnime.sort_values(by='anime_id')
    #Get the N for the formula
    nRatings = len(group)
    #Get the review scores for the movies that they both have in common
    temp_df = inputAnime[inputAnime['anime_id'].isin(group['anime_id'].tolist())]
    #And then store them in a temporary buffer variable in a list format to facilitate future calculations
    tempRatingList = temp_df['rating'].tolist()
    #Let's also put the current user group reviews in a list format
    tempGroupList = group['rating'].tolist()
    #Now let's calculate the pearson correlation between two users, so called, x and y
    Sxx = sum([i**2 for i in tempRatingList]) - pow(sum(tempRatingList),2)/float(nRatings)
    Syy = sum([i**2 for i in tempGroupList]) - pow(sum(tempGroupList),2)/float(nRatings)
    Sxy = sum( i*j for i, j in zip(tempRatingList, tempGroupList)) - sum(tempRatingList)*sum(tempGroupList)/float(nRatings)
    
    #If the denominator is different than zero, then divide, else, 0 correlation.
    if Sxx != 0 and Syy != 0:
        pearsonCorrelationDict[name] = Sxy/sqrt(Sxx*Syy)
    else:
        pearsonCorrelationDict[name] = 0

In [37]:
pearsonCorrelationDict.items()

dict_items([(1309, -0.5860090386731182), (1522, -0.4385290096535115), (2428, 0.537086155529574), (2489, -0.8951435925492954), (2820, -0.6020183016345595), (2951, 0.8204126541423654), (3643, 0), (4437, -0.41602514716892186), (6253, 0), (6714, -0.3516054232038709), (7448, 0), (9842, -0.1703748109239964), (39, -0.12598815766974242), (43, 0.0), (46, -0.4364357804719848), (274, 0), (296, 0.9177105704032728), (342, 0), (392, -0.629940788348712), (593, 0), (670, 0.1259881576697424), (750, -0.629940788348712), (784, -0.7106690545187014), (956, -0.4364357804719848), (1019, 0), (1069, 0), (1116, -0.9759000729485332), (1176, -0.4364357804719848), (1237, -0.1259881576697424), (1344, 0.19738550848793068), (1435, -0.4364357804719848), (1494, -0.629940788348712), (1530, 0.8819171036881969), (1551, -0.3779644730092272), (1623, -0.9869275424396534), (1749, -0.592156525463792), (1842, 0), (1889, 0), (1938, 0.1259881576697424), (2141, -0.19738550848793068), (2143, 0.2182178902359924), (2185, 0.1259881576697424), (2273, 0.8819171036881969), (2318, 0), (2342, -0.19738550848793068), (2549, -0.4364357804719848), (2589, 0), (2695, 0), (2723, -0.4061811972299616), (2783, 0), (2989, 0), (3127, 0), (3174, -0.8728715609439696), (3414, 0.9428090415820635), (3476, 0.4364357804719848), (3492, -0.2182178902359924), (3592, 0), (3597, -0.592156525463792), (3944, 0), (3946, 0.1259881576697424), (3949, -0.4364357804719848), (3990, 0), (4020, -0.4629100498862757), (4064, 0.1259881576697424), (4067, 0.592156525463792), (4078, 0), (4116, -0.3779644730092272), (4512, 0), (4517, 0.8819171036881969), (4668, -0.629940788348712), (5073, -0.0890870806374748), (5255, 0), (5350, 0.12598815766974242), (5423, -0.6362090102803518), (5526, 0), (5541, -0.4364357804719848), (5548, -0.3086066999241838), (5622, 0), (5728, -0.4364357804719848), (5770, -0.19738550848793068), (5899, 0), (5904, 0.1259881576697424), (6034, 0.0), (6166, -0.629940788348712), (6184, 0), (6262, -0.8819171036881969), (6416, -0.629940788348712), (6487, 0), (6638, -0.9428090415820635), (6836, 0), (6893, 0), (6939, 0), (6945, 0.3779644730092272), (7142, -0.629940788348712), (7264, 0.0890870806374748), (7311, -0.629940788348712), (7345, 0.0657951694959769), (7419, -0.3779644730092272), (7446, -0.629940788348712), (7511, 0), (7519, -0.629940788348712), (7533, 0.8728715609439696), (8107, -0.3779644730092272), (8115, -0.3086066999241838), (8128, 0), (8231, 0), (8250, -0.3779644730092272), (8287, 0.2182178902359924), (8455, -0.5855400437691199), (8629, -0.9258200997725514), (8660, 0), (8722, -0.4364357804719848), (8982, 0.12598815766974242), (9059, 0), (9073, 0.17407765595569785), (9122, -0.629940788348712), (9270, 0), (9472, -0.629940788348712), (9625, 0.8703882797784891), (9752, -0.2939723678960656), (9774, -0.629940788348712), (9791, 0), (9910, -0.1259881576697424), (9948, -0.4364357804719848), (9971, -0.14547859349066158), (99, -0.6546536707079772), (148, 0.7559289460184538), (152, 0.4999999999999929), (171, 0), (244, 0), (298, 0), (352, -0.18898223650461649), (385, -0.628618557093706), (400, -0.9933992677987833), (567, -0.628618557093706), (570, 0.9999999999999858), (598, 0), (612, -0.8660254037844387), (684, 0), (702, 0), (738, 0.9449111825230684), (771, 0.7559289460184498), (786, 0), (792, -0.4999999999999982), (795, 0), (814, 0.7559289460184498), (861, 0.6546536707079778), (894, -0.4999999999999929), (899, 0), (917, 0), (929, 0), (936, 0.8660254037844356), (937, 0), (995, -0.7559289460184498), (1048, 0), (1081, 0.8660254037844387), (1114, 0.18898223650461649), (1131, 0.9999999999999858), (1141, 0), (1202, 0.9449111825230684), (1275, 0), (1364, 0), (1487, 0.5000000000000009), (1504, 0), (1576, -0.3273268353539889), (1620, 0.4999999999999929), (1682, -0.18898223650461649), (1710, 0), (1753, 0), (1757, 0), (1771, -0.18898223650461435), (1795, 0), (1808, -1.0), (1867, -0.4999999999999929), (1918, -0.8660254037844387), (1924, -0.9449111825230704), (1937, -0.4999999999999929), (1963, 0.9999999999999858), (1980, 0.3273268353539889), (1987, 0), (1999, -0.18898223650461649), (2015, 0.4999999999999929), (2107, 0), (2124, -0.6286185570937193), (2127, -0.8660254037844264), (2200, -0.8660254037844264), (2204, -0.5), (2243, 0), (2280, -0.9176629354822474), (2300, 0), (2371, -0.755928946018466), (2378, -0.9999999999999858), (2417, -0.18898223650461649), (2467, 0), (2474, 0), (2480, 0.9999999999999858), (2484, 0.7559289460184554), (2487, -0.18898223650461146), (2495, 0), (2510, -0.11470786693528501), (2517, 0), (2531, 0.7559289460184498), (2555, 0.11470786693528257), (2772, -0.4999999999999929), (2810, -0.5000000000000036), (2819, 0.4999999999999929), (2867, 0.7559289460184552), (2953, 0), (2991, 0.9999999999999964), (3028, 0), (3057, -1.0), (3084, -0.4347082116705527), (3093, 0), (3114, 0), (3115, -0.9449111825230689), (3117, 0), (3118, -0.18898223650462054), (3119, 0), (3121, 0), (3126, 0), (3140, -0.5), (3167, 0), (3192, 0), (3241, 0), (3265, 0.9176629354822506), (3274, -0.18898223650461649), (3275, 0), (3278, 0), (3288, -0.4999999999999982), (3430, 0), (3466, -0.4999999999999929), (3474, 0.7559289460184554), (3520, 0), (3588, -0.9449111825230704), (3657, 0), (3660, 0.8029550685469664), (3739, 0), (3784, 0.9999999999999858), (3797, -0.7559289460184498), (3808, -0.4271210980886246), (3877, -0.6286185570937087), (3894, 0.5), (3911, 0), (3942, 0.9176629354822312), (3959, -0.5000000000000002), (3971, 0), (4021, 0.8660254037844387), (4085, 0.9999999999999858), (4153, 0.8660254037844264), (4155, 0), (4202, -0.1889822365046133), (4223, -0.9176629354822474), (4227, 0), (4241, -0.9999999999999858), (4269, 0.18898223650461649), (4347, 0.5000000000000009), (4358, -0.11470786693528091), (4366, -0.3273268353539889), (4373, 0.9819805060619666), (4441, -0.18898223650461649), (4468, -0.6546536707079778), (4480, 0), (4496, 0), (4505, -0.7559289460184498), (4528, 0), (4550, 0), (4575, 0.9999999999999964), (4583, 0), (4609, -0.11470786693528257), (4645, -0.37115374447904553), (4656, 0), (4657, 0), (4725, 0), (4759, 0.6546536707079778), (4834, 0.18898223650462054), (4842, -0.3273268353539889), (4859, 0), (4871, 0), (4987, 0.6286185570937122), (5026, 0.4999999999999929), (5053, 0.0), (5156, -0.9449111825230502), (5166, 0), (5194, 0), (5264, 0.755928946018466), (5323, -0.933256525257383), (5374, 0.18898223650461146), (5386, -0.7559289460184498), (5388, -0.18898223650461524), (5413, -0.7559289460184498), (5669, -0.8660254037844387), (5701, 0), (5726, -0.7559289460184498), (5759, 0), (5795, 0.18898223650461649), (5815, -0.500000000000003), (5937, -0.4999999999999982), (5994, -0.18898223650461146), (6021, 0.4999999999999929), (6024, 0.18898223650461649), (6089, 0), (6118, -0.18898223650461649), (6132, 0), (6152, 0), (6265, -0.9449111825230502), (6268, -0.9449111825230687), (6288, -0.18898223650461649), (6339, 0.7559289460184552), (6382, 0), (6434, 0), (6525, -0.5), (6527, 0.18898223650461146), (6569, 0.9999999999999964), (6589, 0.9449111825230704), (6627, -0.6286185570937121), (6683, 0), (6715, 0.9449111825230704), (6866, 0.9449111825230689), (6918, 0.18898223650461649), (6952, 0.18898223650461649), (6956, -0.18898223650461046), (6971, -0.9449111825230502), (6990, -0.7559289460184498), (7081, 0.6286185570937122), (7198, 0), (7231, 0.11470786693528084), (7365, -0.3273268353539889), (7407, 0.18898223650461649), (7435, -0.8660254037844387), (7522, 0), (7536, -0.18898223650461649), (7670, -0.9449111825230502), (7714, 0.9449111825230502), (7715, -0.3273268353539889), (7755, 0.7559289460184554), (7765, -0.755928946018466), (7816, 0), (7845, 0.9819805060619666), (7932, -0.18898223650462054), (7939, -1.0000000000000018), (7954, -0.18898223650461649), (8006, 0.9449111825230704), (8032, 0.8660254037844387), (8116, -0.4999999999999929), (8149, 0), (8198, 0.9999999999999858), (8226, -0.9999999999999858), (8230, -0.7559289460184498), (8308, 0), (8407, 0.4999999999999929), (8419, -0.9449111825230502), (8421, -0.11470786693528257), (8448, -0.4999999999999929), (8494, -0.7512436346336157), (8523, -0.18898223650461046), (8546, -0.8660254037844387), (8612, -0.4999999999999929), (8636, 0), (8639, 1.0), (8653, 0.0), (8697, 0), (8840, 0), (8846, 0.9999999999999964), (8860, -0.7559289460184498), (8900, -0.18898223650461046), (8955, -0.18898223650461046), (8964, 0.9878291611472624), (9015, 0.1889822365046138), (9032, 0), (9036, 0.4999999999999929), (9083, 0.6546536707079778), (9084, 0), (9091, 0.5000000000000036), (9186, 0), (9199, 0), (9209, 0), (9216, 0), (9293, 0), (9308, -0.4999999999999929), (9358, 0), (9396, 0), (9432, -0.18898223650461146), (9474, 0), (9640, 0.8660254037844387), (9716, 0), (9722, 0.5), (9746, -0.4999999999999929), (9754, -0.4999999999999929), (9763, -0.9819805060619666), (9839, -0.4999999999999929), (9866, -0.11470786693528257), (9877, -0.18898223650461146), (9882, 0), (9889, 0.11470786693528501), (9963, 0.9999999999999858), (10070, 1.000000000000007), (10089, -0.628618557093706), (5, 0), (10, -1.0), (11, -1.0), (12, 1.0), (17, 0), (19, 1.0), (44, 0), (50, 0), (51, -1.0), (55, 1.0), (68, 1.0), (73, 0), (79, 0), (81, 0), (95, 1.0), (129, 1.0), (139, -1.0), (140, 1.0), (145, 0), (163, -1.0), (173, 1.0), (177, 0), (179, 1.0), (183, 1.0), (191, -1.0), (198, 0), (209, 0), (226, 1.0), (228, 0), (231, -1.0), (235, 1.0), (241, 0), (248, 0), (250, 0), (269, -1.0), (271, 0), (272, 0), (275, -1.0), (276, -1.0), (281, 0), (294, 0), (306, -1.0), (309, 0), (312, -1.0), (320, 0), (321, 0), (322, 0), (336, 1.0), (341, 1.0), (349, 1.0), (350, 0), (357, 0), (373, -1.0), (375, 0), (382, 0), (384, -1.0), (387, -1.0), (395, 0), (401, 0), (403, 0), (406, 1.0), (416, 1.0), (420, 1.0), (428, 0), (431, 0), (435, 1.0), (441, 0), (445, 0), (446, -1.0), (449, 0), (455, 0), (460, 0), (462, 0), (469, -1.0), (477, 0), (487, 0), (492, 1.0), (507, 0), (508, 0), (511, -1.0), (529, 1.0), (530, 0), (537, 0), (538, 0), (540, 1.0), (545, 1.0), (547, 0), (548, 0), (551, 1.0), (561, 0), (563, 0), (565, -1.0), (572, 0), (573, 1.0), (578, -1.0), (585, -1.0), (589, 0), (590, 0), (604, 1.0), (606, 1.0), (610, 1.0), (611, 0), (613, 1.0), (616, 0), (626, -1.0), (630, 0), (633, 1.0), (636, 0), (648, -1.0), (651, -1.0), (652, 1.0), (656, 0), (659, 0), (661, 0), (662, 0), (666, 0), (680, 0), (687, 0), (691, 0), (694, 0), (701, 1.0), (703, -1.0), (705, 1.0), (722, -1.0), (735, 0), (737, 0), (741, -1.0), (743, -1.0), (746, 0), (747, 0), (759, -1.0), (760, 0), (773, 0), (778, -1.0), (783, 0), (802, 1.0), (813, 0), (820, 1.0), (833, 1.0), (844, 0), (851, 1.0), (854, 0), (904, -1.0), (907, 0), (912, 0), (919, 0), (922, 0), (924, 0), (925, 0), (926, 0), (930, 0), (933, 0), (938, 1.0), (940, 0), (943, 0), (945, -1.0), (946, 0), (950, -1.0), (953, 0), (958, 0), (963, 0), (970, -1.0), (976, -1.0), (979, 0), (985, 0), (996, -1.0), (997, -1.0), (1013, 0), (1015, 0), (1016, 0), (1027, 0), (1035, 0), (1041, 0), (1043, 0), (1055, 0), (1058, -1.0), (1065, 1.0), (1074, 0), (1077, 1.0), (1086, 1.0), (1094, 0), (1097, 0), (1099, 0), (1100, -1.0), (1103, 1.0), (1106, -1.0), (1108, 0), (1111, 0), (1129, -1.0), (1138, 1.0), (1148, 0), (1153, 0), (1160, 0), (1163, 0), (1170, 0), (1172, 0), (1186, -1.0), (1190, 0), (1191, 1.0), (1194, 0), (1209, -1.0), (1212, 0), (1213, 0), (1214, 0), (1216, -1.0), (1218, 0), (1220, 1.0), (1222, 0), (1226, 0), (1232, -1.0), (1235, 1.0), (1238, -1.0), (1239, 0), (1252, 0), (1253, -1.0), (1259, -1.0), (1278, -1.0), (1280, 1.0), (1282, 0), (1284, 0), (1287, 0), (1289, 1.0), (1290, -1.0), (1294, 0), (1301, 1.0), (1307, 0), (1327, -1.0), (1332, 0), (1345, -1.0), (1349, 0), (1352, 0), (1353, -1.0), (1354, 0), (1355, -1.0), (1366, 1.0), (1371, 1.0), (1378, 0), (1385, -1.0), (1390, 0), (1392, 0), (1396, 0), (1410, 1.0), (1418, 1.0), (1419, 0), (1423, 0), (1429, 0), (1441, 0), (1442, 0), (1443, 1.0), (1444, -1.0), (1448, 0), (1451, 0), (1461, 0), (1462, 1.0), (1465, 0), (1473, -1.0), (1475, 0), (1489, 0), (1492, 0), (1495, -1.0), (1500, 0), (1501, 0), (1503, 0), (1513, 0), (1520, 0), (1526, 0), (1528, 0), (1539, 0), (1554, -1.0), (1579, 0), (1585, -1.0), (1590, 0), (1600, 0), (1614, 0), (1616, 0), (1619, 1.0), (1628, 1.0), (1634, -1.0), (1635, 0), (1638, 1.0), (1647, 0), (1651, 0), (1657, 0), (1664, 1.0), (1665, 0), (1667, -1.0), (1674, 1.0), (1684, 0), (1687, -1.0), (1688, 0), (1695, -1.0), (1701, -1.0), (1705, 1.0), (1711, 1.0), (1713, 1.0), (1731, -1.0), (1738, 1.0), (1751, -1.0), (1761, 1.0), (1765, 0), (1767, 0), (1769, 0), (1770, -1.0), (1773, 0), (1780, -1.0), (1786, 0), (1788, 0), (1790, -1.0), (1794, -1.0), (1797, -1.0), (1800, -1.0), (1811, 1.0), (1814, 0), (1815, 1.0), (1818, -1.0), (1822, 1.0), (1830, 1.0), (1831, -1.0), (1832, 0), (1843, 0), (1844, 1.0), (1845, 0), (1846, 0), (1852, 0), (1853, 0), (1854, 1.0), (1860, 0), (1865, 1.0), (1870, 0), (1873, 1.0), (1879, 0), (1880, -1.0), (1887, -1.0), (1888, 0), (1906, 0), (1909, 0), (1919, -1.0), (1927, -1.0), (1928, 0), (1933, 0), (1942, -1.0), (1943, 1.0), (1948, 0), (1953, 0), (1957, 0), (1959, 1.0), (1962, 1.0), (1974, 1.0), (1976, 0), (1978, 0), (1990, -1.0), (1991, 0), (2000, 0), (2004, 0), (2005, -1.0), (2012, 0), (2024, -1.0), (2031, 0), (2032, -1.0), (2040, 1.0), (2051, -1.0), (2060, 1.0), (2065, 1.0), (2066, 0), (2072, 0), (2080, 1.0), (2090, -1.0), (2094, 0), (2095, -1.0), (2098, 0), (2105, 1.0), (2113, 0), (2125, 1.0), (2137, 0), (2139, -1.0), (2144, 0), (2165, 0), (2168, 0), (2173, 0), (2181, 0), (2186, 1.0), (2187, 1.0), (2188, 0), (2193, -1.0), (2197, 0), (2201, 1.0), (2209, -1.0), (2211, 0), (2212, 0), (2226, 0), (2227, 0), (2246, 0), (2251, 1.0), (2256, 0), (2261, 0), (2266, -1.0), (2282, 1.0), (2285, -1.0), (2287, 0), (2290, -1.0), (2297, 0), (2298, -1.0), (2308, 0), (2320, 0), (2325, 0), (2328, 1.0), (2335, 1.0), (2347, 0), (2348, 1.0), (2349, 0), (2351, 1.0), (2354, 0), (2361, 1.0), (2362, 1.0), (2366, -1.0), (2386, 0), (2389, 0), (2394, 0), (2396, -1.0), (2397, 1.0), (2407, 0), (2440, 0), (2441, 1.0), (2443, 0), (2444, 0), (2456, -1.0), (2472, 1.0), (2481, 1.0), (2483, -1.0), (2496, 0), (2497, 0), (2503, 0), (2518, 0), (2520, -1.0), (2526, -1.0), (2527, -1.0), (2530, 0), (2550, 1.0), (2562, 0), (2567, 1.0), (2580, 1.0), (2583, -1.0), (2591, 0), (2592, 0), (2595, 1.0), (2599, 1.0), (2601, 0), (2603, 0), (2605, 0), (2609, 0), (2612, 0), (2614, 0), (2617, 1.0), (2621, -1.0), (2628, 0), (2632, 0), (2634, 1.0), (2637, -1.0), (2641, 0), (2643, 0), (2646, 1.0), (2660, 1.0), (2666, 0), (2671, 0), (2675, 0), (2678, 1.0), (2686, -1.0), (2698, 1.0), (2701, 0), (2712, 1.0), (2715, 0), (2726, 0), (2733, 0), (2738, -1.0), (2741, 1.0), (2745, 0), (2746, 1.0), (2748, 0), (2753, -1.0), (2757, -1.0), (2760, -1.0), (2762, 0), (2768, 1.0), (2771, 1.0), (2776, 0), (2786, 0), (2799, 0), (2802, 0), (2811, -1.0), (2825, 0), (2843, 0), (2881, 0), (2882, 0), (2883, -1.0), (2890, 0), (2891, 0), (2895, 0), (2902, -1.0), (2903, 0), (2906, 0), (2911, 0), (2912, 0), (2916, 0), (2919, 1.0), (2933, 0), (2940, 0), (2944, -1.0), (2949, 1.0), (2950, -1.0), (2958, 0), (2959, 0), (2986, 1.0), (2987, 1.0), (2990, -1.0), (3006, -1.0), (3009, 1.0), (3010, 0), (3012, 1.0), (3017, -1.0), (3026, 1.0), (3031, 0), (3032, -1.0), (3036, 0), (3038, 1.0), (3039, -1.0), (3040, -1.0), (3041, 0), (3047, 0), (3051, 1.0), (3052, 1.0), (3055, 0), (3056, 1.0), (3063, -1.0), (3071, 0), (3075, 0), (3076, 0), (3078, 1.0), (3085, 0), (3086, 1.0), (3099, -1.0), (3116, 0), (3122, 0), (3123, 0), (3124, 0), (3131, 1.0), (3154, 0), (3157, -1.0), (3161, -1.0), (3178, 1.0), (3180, 0), (3202, 0), (3203, -1.0), (3212, -1.0), (3213, 0), (3214, 0), (3215, 0), (3224, -1.0), (3225, 0), (3228, -1.0), (3235, 0), (3238, 0), (3239, 0), (3267, 0), (3273, 0), (3277, 1.0), (3279, -1.0), (3280, 1.0), (3284, 1.0), (3286, 0), (3287, 1.0), (3295, 0), (3299, -1.0), (3303, 0), (3306, -1.0), (3309, -1.0), (3311, 1.0), (3313, -1.0), (3315, 0), (3324, 0), (3325, 0), (3328, 1.0), (3336, 0), (3338, 1.0), (3345, 1.0), (3346, 0), (3350, -1.0), (3351, -1.0), (3357, -1.0), (3358, 0), (3360, 0), (3362, -1.0), (3370, -1.0), (3377, 0), (3380, 0), (3385, 0), (3392, 1.0), (3396, 1.0), (3398, -1.0), (3400, 1.0), (3409, -1.0), (3419, -1.0), (3431, 0), (3434, 0)])

In [38]:
pearsonDF = pd.DataFrame.from_dict(pearsonCorrelationDict, orient='index')
pearsonDF.columns = ['similarityIndex']
pearsonDF['user_id'] = pearsonDF.index
pearsonDF.index = range(len(pearsonDF))
pearsonDF.head(10)

   similarityIndex  user_id
0        -0.586009     1309
1        -0.438529     1522
2         0.537086     2428
3        -0.895144     2489
4        -0.602018     2820
5         0.820413     2951
6         0.000000     3643
7        -0.416025     4437
8         0.000000     6253
9        -0.351605     6714

In [39]:
#the Top X similar users to input user

topUsers=pearsonDF.sort_values(by='similarityIndex', ascending=False)[0:500]
topUsers.head(10)

     similarityIndex  user_id
395              1.0    10070
507              1.0      652
857              1.0     2646
871              1.0     2741
676              1.0     1638
680              1.0     1664
866              1.0     2712
864              1.0     2698
862              1.0     2678
858              1.0     2660

In [40]:
#rating of selected users to all animes

topUsersRating = topUsers.merge(rate, left_on='user_id', right_on='user_id', how='inner')
topUsersRating.head(10)

   similarityIndex  user_id  anime_id  rating
0              1.0    10070        20       8
1              1.0    10070        30       9
2              1.0    10070        31       7
3              1.0    10070        32       9
4              1.0    10070       199       8
5              1.0    10070       223       8
6              1.0    10070       225       5
7              1.0    10070       263       9
8              1.0    10070       264       9
9              1.0    10070       265       9

In [41]:
#Multiplies the similarity by the user's ratings
topUsersRating['weightedRating'] = topUsersRating['similarityIndex']*topUsersRating['rating']
topUsersRating.head(10)

   similarityIndex  user_id  anime_id  rating  weightedRating
0              1.0    10070        20       8             8.0
1              1.0    10070        30       9             9.0
2              1.0    10070        31       7             7.0
3              1.0    10070        32       9             9.0
4              1.0    10070       199       8             8.0
5              1.0    10070       223       8             8.0
6              1.0    10070       225       5             5.0
7              1.0    10070       263       9             9.0
8              1.0    10070       264       9             9.0
9              1.0    10070       265       9             9.0

In [42]:
#Applies a sum to the topUsers after grouping it up by userId
tempTopUsersRating = topUsersRating.groupby('anime_id').sum()[['similarityIndex','weightedRating']]
tempTopUsersRating.columns = ['sum_similarityIndex','sum_weightedRating']
tempTopUsersRating.head()

          sum_similarityIndex  sum_weightedRating
anime_id
1                   84.111998          663.679087
5                   28.219414          193.669311
6                   45.867622          343.469180
7                    7.553543           43.301166
8                    1.673640           12.471406

In [43]:
#Creates an empty dataframe
recommendation = pd.DataFrame()

#Now we take the weighted average
recommendation['weighted average recommendation score'] = tempTopUsersRating['sum_weightedRating']/tempTopUsersRating['sum_similarityIndex']
recommendation['anime_id'] = tempTopUsersRating.index
recommendation.head(10)

          weighted average recommendation score  anime_id
anime_id
1                                      7.890421         1
5                                      6.862981         5
6                                      7.488271         6
7                                      5.732564         7
8                                      7.451668         8
15                                     8.150916        15
16                                     8.261242        16
17                                     7.214498        17
18                                     7.720939        18
19                                     7.776454        19

In [44]:
# recommendation for the input user
anime.loc[anime['anime_id'].isin(recommendation.head(10)['anime_id'].tolist())]

,anime_id,name,genre
22,1,Cowboy Bebop,"[Action, Adventure, Comedy, Drama, Sci-Fi,..."
38,19,Monster,"[Drama, Horror, Mystery, Police, Psycholog..."
152,5,Cowboy Bebop: Tengoku no Tobira,"[Action, Drama, Mystery, Sci-Fi, Space]"
214,6,Trigun,"[Action, Comedy, Sci-Fi]"
263,18,Initial D Fourth Stage,"[Action, Cars, Drama, Seinen, Sports]"
325,16,Hachimitsu to Clover,"[Comedy, Drama, Josei, Romance]"
433,15,Eyeshield 21,"[Action, Comedy, Shounen, Sports]"
976,17,Hungry Heart: Wild Striker,"[Comedy, Shounen, Slice of Life, Sports]"
2095,7,Witch Hunter Robin,"[Action, Drama, Magic, Mystery, Police, S..."
3159,8,Beet the Vandel Buster,"[Adventure, Fantasy, Shounen, Supernatural]"